<!-- <div class="loader"></div> -->
<div class="player_playback">
  <div>
    <ion-range min="0" [max]="audio.duration || 0" [(ngModel)]="audio.currentTime" color="primary"
      (ionChange)="seek($event)">
      <ion-label slot="start">{{ formatTime(audio.currentTime) }}</ion-label>
      <ion-label slot="end">{{ formatTime(audio.duration) }}</ion-label>
    </ion-range>
  </div>
  <div class="player_playback__control">
    <!-- <button (click)="pause()">Pause</button> -->
  
    <!-- Backwards -->
    <div>
      <ion-icon src="/assets/screens/player/prev.svg" 
      class="skip-btn" (click)="prev()"></ion-icon>
    </div>
  
    <!-- Play/Pause -->
    <div>
      <ion-icon src="/assets/screens/player/play.svg" 
      (click)="play()" class="play-pause-btn"></ion-icon>
    </div>
  
    <!-- Forwards -->
    <div>
      <ion-icon src="/assets/screens/player/next.svg" 
      class="skip-btn" (click)="next()"></ion-icon>
    </div>
  </div>
</div>