<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div class="custom-tabs" *ngIf="showNavbar">
    <div class="tab-item" [routerLink]="['home']">
      <ion-icon src="assets/navbar/{{ isRouteActive('home') ? 'home_active.svg' : 'home.svg' }}"></ion-icon>
    </div>
    <div class="tab-item" [routerLink]="['analysis']">
      <ion-icon src="assets/navbar/{{ isRouteActive('analysis') ? 'analysis_active.svg' : 'analysis.svg' }}"></ion-icon>
    </div>
    <div class="tab-item" [routerLink]="['quiz']">
      <ion-icon src="assets/navbar/{{ isRouteActive('quiz') ? 'quiz_active.svg' : 'quiz.svg' }}"></ion-icon>
    </div>
    <div class="tab-item" [routerLink]="['settings']">
      <ion-icon src="assets/navbar/{{ isRouteActive('settings') ? 'settings_active.svg' : 'settings.svg' }}"></ion-icon>
    </div>
  </div>
</ion-app>