<ion-content [fullscreen]="true" class="player_content">
  <div class="custom_page_header">
    <div class="custom_page_header__back" [routerLink]="['/home']"><ion-img src="/assets/icon/back.svg"></ion-img></div>
    <div class="custom_page_header__share" (click)="shareTrack(track!)"><ion-img src="/assets/icon/share.svg"></ion-img></div>
  </div>

  <div class="player_image">
    <ion-img [src]="'/assets/screens/player/' + defaultPlayerImageId + '.png'"></ion-img>
  </div>

  <div class="player_screens">
    <div class="player_screens__background" *ngFor="let image of playerImages; let i = index;"
    [ngClass]="{ 'active': image.id.toString() === defaultPlayerImageId }"
    (click)="setBackground(image.id)"
    >
      <ion-img [src]="image.path"></ion-img>
    </div>
  </div>

  <div class="player_block">
    <ion-text>
      <h1>{{ track?.name }}</h1>
    </ion-text>

    <!-- Playback section -->
    <div class="player_playback" text-center>
      <app-audio-player src="{{track?.url}}"></app-audio-player>
    </div>
  </div>
</ion-content>
