<ion-header *ngIf="!isModalOpen">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page_filter">
    <ion-text>Select a time period</ion-text>
    <div class="ion-margin-top page_filter__actions">
      <ion-button shape="round" [class.active]="activeFilter === 'week'" (click)="setFilter('week')">Week</ion-button>
      <ion-button shape="round" [class.active]="activeFilter === 'month'"
        (click)="setFilter('month')">Month</ion-button>
      <ion-button shape="round" [class.active]="activeFilter === 'year'" (click)="setFilter('year')">Year</ion-button>
    </div>
  </div>

  <div class="history_emojy ion-margin ion-padding-bottom" *ngIf="tasks.length">
    <div class="history_emojy__container" *ngIf="mostUsedEmoji">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="4">
            <app-emoji-item [emojy]="mostUsedEmoji" [activeEmojiId]="mostUsedEmoji.id"></app-emoji-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="history_emojy__details ion-margin-top">
        <ion-text>{{ mostUsedEmojiAdvice }}</ion-text>
      </div>
    </div>
    <div class="history_emojy__list ion-margin-top">
      <ion-text><h1>Your emotions this week</h1></ion-text>

      <div class="emoji-grid">
        <div *ngFor="let task of tasks" class="history_emojy__list__item ion-margin-bottom" (click)="openModal(task)">
          <div class="history_emojy__list__item__date">
            <ion-icon src="assets/icon/calendar.svg" class="ion-margin-end"></ion-icon>
            <ion-text>{{ task.date | date: 'dd.MM.yyyy' }}</ion-text>
          </div>
          <app-emoji-item [emojy]="task.emoji" [activeAllEmojies]="activeAllEmojies" [smallTitle]="true" class="test-me"></app-emoji-item>
        </div>
      </div>
    </div>
  </div>

  <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
    <div class="emoji_details" *ngIf="currentActiveTask">
      <ion-img class="close_modal_btn" src="/assets/emojes/close_no_bg.png" (click)="closeModal()"></ion-img>
      <ion-text>{{ currentActiveTask.text }}</ion-text>
    </div>
  </ion-modal>
</ion-content>
